<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ app.getName() }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adriano Fialho & Victor Martinez">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% use "base/incs/facebookOpenGraphTags.twig" %}
    {% block facebookOpenGraphTags %} {{ parent() }} {% endblock facebookOpenGraphTags %}

    {% use "base/incs/stylesheets.twig" %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    <link rel="shortcut icon" href="{{ assetUri }}/assets/global/ico/favicon.ico">
</head>

<body>

    {% use "base/incs/header.twig" %}
    {% block header %} {{ parent() }} {% endblock header %}

    <!-- Content -->
    {% block content %}{% endblock content %}

    {% use "base/incs/footer.twig" %}
    {% block footer %} {{ parent() }} {% endblock footer %}

    <!-- Javascripts -->
    {% use "base/incs/javascripts.twig" %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock javascripts %}
</body>

</html>